html, body{
  color:#000000;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  margin-bottom:0;
  background-color:#A3A6BA; 

}
header{
  background-color: black;
  height:110px ;
  width: 100%;
}
header img{
  height:50px;
  width:90px;
  padding: 5px, 5px;
}
.mySlides {
  display:none;
}
.containerdiapo{
background-color: powderblue;
width: 600px;
height: 330px;

}
.containerdiapo img{
  width:100%;
}
#capetienscontainer{
  margin-top: 20VH;
}
#capetienscontainer .imgCapetiens img{
  border-radius: 8px;
  width:300px;
  height:200px;
  
}
#roiscontainer .imgHugues img{
  border-radius: 8px;
  width:300px;
  height:200px;
}
#roiscontainer .imgPhilippe img{
  border-radius: 8px;
  width:300px;
  height:200px;
}
#roiscontainer .imgRoiPhilippe img{
  border-radius: 8px;
  width:300px;
  height:200px;
}
#roiscontainer .imgRoiLouis img{
  border-radius: 8px;
  width:300px;
  height:200px;
}

.h1{
  background-color: rgb(49, 47, 47);
  padding: 20px;
  font-family: fantasy;
}
p{
  align: center;
  font-family: fantasy;
}
h3{
  padding: 20px;
  font-family: fantasy;
}
table{
  height:100% ;
  width: 75px;

}
.text{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(5, 5, 5);
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
@keyframes slidein {
  from {
    opacity: 0s;
  }

  to {
    opacity: 9s;
  }
}

@media screen and (max-width: 600px) {
  header{
    background-color: black;
    height:110px ;
    width: 100%;
  }
  header img{
    height:50px;
    width:90px;
    padding: 5px, 5px;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .containerdiapo{
    background-color: powderblue;
    width: 600px;
    height: 330px;
    
    }
}

@media screen and (min-width: 601px) {
  header{
    background-color: black;
    height:110px ;
    width: 100%;
  }
  header img{
    height:50px;
    width:90px;
    padding: 5px, 5px;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    width:100%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*SFHQSFLKSQF
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
/*.container {
  position: relative;
  width: 100%;
  height:4px;
}

/* Hide the images by default */
/**.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
/**.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/**.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
/**.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/**.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
/**.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/*Container for image text 
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 12px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

 Six columns side by side 
.column {
  float: left;
  width: 16.66%;
}

Add a transparency effect for thumnbail images 
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 0.5;
}
footer {
	display : table-row;
	height: 200px; /* à titre d'exemple */

/**.active {
  background-color: gray;
}* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
/**.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
/**.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6etc) */
/**.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/**.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
/**.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/**@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

/**div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/**.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.responsive1 {
  padding: 0 6px;
  float: right;
  width: 24.99999%;
}

/**@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

/**@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
} 
*/
/**galerie dynamique*/
/**.slider {
	width: 100%;
}

.slider-wrapper {
	width: 100%;
	height: 100%;
    
    z-index: 1;
}
.slider-wrapper img{
    height: 600px;
    /*filter:blur(1px) grayscale(50%);
}

.mySlides {
    display:none;
    width: 100%;
    height: 100%;
	
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
*/



